<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.dani.dao1.DaniMapper">
<select id="selectHomeTimeInfo" parameterType="String" resultType="com.hello.dani.dto.HomeDTO">
	SELECT
		ID AS homeId
		, #{param} AS homeName
	FROM
		ZOO
</select>
<select id="selectHomeData" resultType="String">
	SELECT
		ID AS homeId
	FROM
		ZOO
</select>
</mapper>